* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.card {
  background: white;
  width: 380px;
  padding: 25px;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card.wide {
  width: 90%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;

}

select{

  cursor: pointer;
}

#leaveType {
  cursor: pointer;
}




button {
  background: #667eea;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #5a67d8;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #667eea;
  color: white;
}

.hint {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: gray;
}